@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: url(../public/12px\ Flip\ Grid.png),
    #011627 0% 0% / 100px 100px repeat; */
  @apply bg-neutral-950;
}

@layer components {
  /* Headline Styles */
  .heading-1 {
    @apply text-4xl font-bold tracking-tight;
  }
  .heading-2 {
    @apply text-3xl font-semibold tracking-tight;
  }
  .heading-3 {
    @apply text-xl  tracking-tight text-gray-200;
  }

  /* Body Text Styles */
  .body-large {
    @apply text-lg text-gray-500 leading-relaxed;
  }
  .body-base {
    @apply text-base text-gray-500 leading-relaxed;
  }
  .body-small {
    @apply text-sm text-gray-500;
  }
}
